# Standard configuration

BOT_TOKEN=MjM4NDk0NzU2NTIxMzc3Nzky.CunGFQ.wUILz7z6HoJzVeq6pyHPmVgQgV4
BOT_PREFIX=++
WILDBEAST_MASTERS=107904023901777920,152664793587777537
LAVALINK_NODES=[{"host": "localhost", "port": "8080", "region": "us", "password": "youshallnotpass"}]

# API keys

TWITCH_ID=a3fsaffj4tbse36
IMGUR_KEY=5i8rythbhtx654235hrs34
# SENTRY_DSN=https://ingress.sentry.io
# WILDBEAST_BOTS_GG_KEY=daw3213vdsvz232
# WILDBEAST_TOP_GG_KEY=5ee54fgdn4yjcresjvj

# Advanced configuration

# WILDBEAST_K8S_AUTOSCALE=false
# LAVALINK_AUTODISCOVERY={}
# ENABLE_METRICS=false
# METRICS_INTERVAL=5000
# PROM_PORT=8080
# WILDBEAST_ENV_CHECK_DISABLED=false
# NODE_ENV=debug
# WILDBEAST_SUPPRESS_COMMANDLOG=false
